.MyBtn {
    border: 2px solid gray;
    background: transparent;
    font-size: 12px;
    padding: 12px;
    margin: 2px;
    text-align: center;
    background-color: aqua;
    cursor: pointer;
    transition: all 0.5s;
}

.MyBtn:hover {
    background-color: red;
}